.checked {
    display: flex;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    border: 5px solid #d4af37;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    background-color: teal;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 15px;
    border: 2px solid black;
}

.item__box {
    display: flex;
    align-items: center;
}